@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
html,body {
    height: 100%;
    margin: 0;
  font-family: 'Amatic SC', sans-serif;
    
}


* {
    box-sizing: border-box;
}

/* màu nền body */
#bg-color {
    background-color: #070707; 
    /* background-color: khaki;  */
    height: 100%;
    margin: 0;
}


/* màu thanh bar ở giữa */
.bg-image {
    background: #72706e;
    height: 22%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center
}

/* thanh bar trên cùng */
#main-menu-text {
    background-color: rgba(0,0,0, 0.4) ; /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    padding-right: 4.5rem;
}

/* thanh search */
.search-bar {
    outline: none;
    line-height: 1;
    border: 0px solid #d6d6d7;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 2rem;
    padding-left: 12%;
    }
/* phần login logout trên thanh bar top */
.main-menu-item {
    margin-left : 2rem;
    margin-top: 0.4rem;
}

/* thẻ màu chữ login logout */
a {
    text-decoration: none;
    color : rgb(255, 255, 255);
    }

    /* logo kính lúp */
#header-search-icon {
    position: absolute;
    border: none;
    background-color: rgba(0,0,0, 0.0);
    margin-top: 6px;
    margin-left: 2px;
    color: rgba(255 ,255 ,255 ,0.7);
}


h1,h2{
    font-size: 200%;
    color: whitesmoke;
}
h6{
    color: whitesmoke;
    font-size:100%
}

/* nút mũi tên xuống */
#div-button-down {
    margin: 0;
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 68px;
}
#button-down {
    height: 50px;
    width: 50px;
    background-color: #616060;
    margin-top: -8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color : #ffffffd0;
}

/* more detail */
#details-button {
    border: 1px solid rgb(255, 255, 255);
    width: 132px;
    height: 47px;
    font-size: 36px;
    border-radius: 1rem;
    padding-left: 2px;
    margin-top:50px;
    margin-left:30px
}

/* nút filter */
.btn {
    border: none;
    outline: none;
    padding: 6px 20px;
    background-color: #f1f1f100;
    cursor: pointer;
}
.container .btn {

    background-color: rgba(85, 85, 85, 0.8);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Amatic SC', sans-serif;

}

.btn :hover {
    font-size: 200%;

}

#bg-item{
    display:flex;
    flex-flow:row;
    justify-content: space-around;
    width: 60%
}


.container-body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.filterDiv{
    width:50%;
    padding-top:20px;
    padding-left: 150px
}

#food-display{
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 10px
}

/* trang region */
#region-bg-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#region-name {
    position: absolute;
    top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}
.region-font {
    color: white;
    text-shadow: 2px 2px black;
}
.region-font:hover {
    font-size: 150%;
    text-shadow: 2px 2px white;
    color: black;
}
