<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asia Food</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kristi|Gugi" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/test.css">
</head>

<body id="bg-color">
    <div id="main-menu-text">
        <a class="main-menu-item" href="/region" style="margin-right:5rem;">Home</a>
        <form action="/search" method="POST">
            <button id="header-search-icon" class="search-btn btn-default" type="submit"><i class="fa fa-search"></i>
            </button>
            <input name="search" style="display" class="search-bar" type="text" placeholder="Search something here">
        </form>
        <a class="main-menu-item" href="/login">{{ session.name }}</a>
        <a class="main-menu-item" href="/logout">Logout</a>
    </div>
    <div class="bg-image">
        <div class="container btn">
            <button class="btn active" onclick="filterSelection('all')">Show all</button>
        </div>
        <div class="container btn">
            <button class="btn" onclick="filterSelection('breakfast')">Breakfast</button>
        </div>
        <div class="container btn">
            <button class="btn" onclick="filterSelection('lunch')" >Lunch</button>
        </div>
        <div class="container btn">
            <button class="btn" onclick="filterSelection('snack')" >Dessert/Drink</button>
        </div>
        <div class="container btn">
            <button class="btn" onclick="filterSelection('dinner')">Dinner</button>
        </div>
    </div>
</div>
    <div id="div-button-down">
        <i id="button-down" class="fas fa-angle-down fa-2x"></i>
        <h1 style="margin: 0; margin-bottom : 17px;">RECIPES</h1>
    </div>

    <div class="home-view">
        <div class="container">
                {% for food in foods %} 
                {% if food.Continent == "Asian" %}
                {% if food.Type == "breakfast" %}
                <div class="filterDiv breakfast">
                    <div id="bg-item">
                        <img id="img-odd-item" src="{{ food.Image }}">
                        <div id="food-display">
                            
                            <div id="describe-odd-item">
                                <h2>{{ food.Name }}</h2>
                                <h2>Ingredients:</h2>
                                <h6 style="margin:0;">{{ food.Description }}</h6>
                            </div>
                        </div>
                        <a id="details-button" href="/food/{{ food._id }}">More Details</a>
                    </div>
                </div>
                {% elif food.Type == "lunch" %}
                <div class="filterDiv lunch">
                        <div id="bg-item">
                            <img id="img-odd-item" src="{{ food.Image }}">
                            <div id="food-display">
                                <div id="describe-odd-item">
                                    <h2>{{ food.Name }}</h2>
                                    <h2>Ingredients:</h2>
                                    <h6 style="margin:0;">{{ food.Description }}</h6>
                                </div>
                            </div>
                            <a id="details-button" href="/food/{{ food._id }}">More Details</a>
                        </div>
                    </div>
                {% elif food.Type == "dinner" %}
                <div class="filterDiv dinner">
                        <div id="bg-item">
                            <img id="img-odd-item" src="{{ food.Image }}">
                            <div id="food-display">
                                <div id="describe-odd-item">
                                    <h2>{{ food.Name }}</h2>
                                    <h2>Ingredients:</h2>
                                    <h6 style="margin:0;">{{ food.Description }}</h6>
                                </div>
                            </div>
                            <a id="details-button" href="/food/{{ food._id }}">More Details</a>
                        </div>
                    </div>
                {% elif food.Type == "snack" %}
                <div class="filterDiv snack">
                        <div id="bg-item">
                            <img id="img-odd-item" src="{{ food.Image }}">
                            <div id="food-display">
                                <div id="describe-odd-item">
                                    <h2>{{ food.Name }}</h2>
                                    <h2>Ingredients:</h2>
                                    <h6 style="margin:0;">{{ food.Description }}</h6>
                                </div>
                            </div>
                            <a id="details-button" href="/food/{{ food._id }}">More Details</a>
                        </div>
                    </div>
                {% endif %}
                
                {% endif %} {% endfor %} 
            </div>
        </div>
    <script>
        filterSelection("all")

        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                        arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
            }
            // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

</body>

</html>
