<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <form id="login-form" method = "post">
        <h1 id="h-sign-in">Create an account</h1>
        <div class="div-input">
            <i class="fas fa-user-tie custom-icon "></i>
            <input class="login-input" type="text" placeholder = "Username" name = "register_username" required >
        </div>
        <div class="div-input">
            <i class="fas fa-user-tie custom-icon "></i>
            <input class="login-input" type="password" placeholder = "Password" name = "register_password" required >
        </div>
        <div class="div-button">
            <input class="btn-custom" type="submit" value = "Register">
            <input class="btn-custom" type="reset" name="Reset">
        </div>
    </form>

</body>
</html>